    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <img src="../img/presentation.png" width="10%"/>
              <h2>About Michael Anderson</h2>
              <br/>
                <p>Michael Anderson grew up n Connecticut and graduated fro the University of Connecticut in1987 with a Bachelor of Arts degree in Communication Science. He also has an Associates Degree in Electronic and Electrical Engineering but has worked in the non-profit arena since 1987. Michael continued to study public communication and leadership and received his Masters Degree in Communication and Leadership from Gonzaga University in 2012. </p>
                <p>In addition to extensive experience as a public speaker, he helped develop communication curricula that are used around the world and continues to travel around the world training communicators and communication trainers. He also hold certifications in executive coaching, <a href="https://www.coreclarity.net" target="_blank" class="noDeco">CoreClarity</a>, and <a href="https://wial.org/action-learning/" target="_blank" class="noDeco">Action Learning</a>.</p>
              <br/>
              <div class="townLink"><p> <a href="https://drtownsend.com/directors/" target="_blank" >Read More</a> </p> </div>

              </div>
        </div>
    </section>
