<section id="pdfs">
    <div class="container">
        <div class="row">
            <div class="col-md-6 spacings">
                <h3>Discover the foundation of your "Why"? There are goals, dreams, and desires that are driving you. Those goals, dreams, and desires are rooted in your values. <br /> Have you taken the time to uncover your values? Here is a values assessment that can help you better understand why you do what you do. </h3>
                <div style="height: 20px;">
                <!-- spacer-->
                </div>
                <div class="servButton"><p><a href="#" >Download .pdf</a></p></div>
            </div>
            <div class="col-md-2">
                <!-- spacer -->
            </div>
            <div class="col-md-4 spacings">
                <img src="../img/pdfs/valuesClarification.png" width="80%" style="border: 1px solid rgba(0,0,0,.5)" />
            </div>
        </div>
        <div class="row">
                <div class="col-md-4 spacings">
                    <img src="../img/pdfs/3z5s.png" width="80%" style="border: 1px solid rgba(0,0,0,.5)" />
                </div>
                <div class="col-md-2">
                        <!-- spacer -->
                </div>
                <div class="col-md-6 spacings">
                        <h3>Discover the foundation of your "Why"? There are goals, dreams, and desires that are driving you. Those goals, dreams, and desires are rooted in your values. <br /> Have you taken the time to uncover your values? Here is a values assessment that can help you better understand why you do what you do. </h3>
                        <div style="height: 20px;">
                        <!-- spacer-->
                        </div>
                        <div class="servButton"><p><a href="#" >Download .pdf</a></p></div>
                </div>
            </div>
    </div>
</section>